/* ========================================================== <form> ===*/

.formx {
    //zmargin: 0px 30px 10px 5px;
    //zbackground-color: #eee;
    padding: 5px 10px;
    font-size: 1em;


    fieldset {
        padding: 0;
        border: 0;
    }

    .fRow {
        display: flex;
        align-items: flex-start;
        flex-wrap: wrap;
        flex-direction: row;
    }

    .fSubRow {
        display: flex;
        align-items: flex-start;
        flex-wrap: wrap;
        flex-direction: row;
    }

    .fCell {
        flex: 1.0;
    }

    .fCell-12 {
        flex: 1;
        zwidth: 100%;
    }

    .fCell-6 {
        flex: .48;
        zwidth: 100%;
    }

    .fCell-6-space {
        flex: .04;
        zmin-width: 15px;
    }

    // .fCell-6+.fCell-6 {
    //     zmargin-left: 10px;
    // }

    // .formx .fCell-6:not(:last-child) input {
    //     zbackground-color: red;
    //     zwidth: 90%;
    //     zmargin-right: 50px;
    // }


    .val-err {
        color: red;
        font-size: .9em;
    }

    input {
        display: block;
    }

    label {
        display: block;
        //font-weight: bold;
        font-size: 0.8em;
        color: #666;
        opacity: 0.9;
        margin-top: 15px;
    }

    input.text {
        padding: .4em;
    }
}

//end formx


.content-label-inline-block label {
    display: inline-block;
}

.content-input-inline-block input {
    display: inline-block;
}

/* top right bottom left*/

fieldset.initial {
    display: block;
    margin-left: 2px;
    margin-right: 2px;
    padding-top: 0.35em;
    padding-bottom: 0.625em;
    padding-left: 0.75em;
    padding-right: 0.75em;
    border: 1px groove;
}

.audit-info {
    margin-top: 0.5em;
    font-size: 10pt;
    display: inline-block;
    //zfont-family: 'Courier New', Courier, monospace;
    color: #888;
}

//.formx .ff-control {}
.ff-control {
    display: inline-block;
    width: 100%;
    //zheight: 34px;

    //zpadding: 6px 6px;
    //padding: 6px 0px;
    padding-top: 6px;
    padding-bottom: 6px;
    padding-left: 3px;
    padding-right: 5px;

    font-size: 12pt;

    // zmargin-left: 5px;
    // zfont-size: 14px;
    // zline-height: 1.42857143;
    color: #555;
    // zbackground-color: #fff;
    // zbackground-image: none;
    border-radius: 4px;
    border: 1px solid #ccc;

    //-webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    //-webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
    //-o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}


input[type="file"]:focus,
input[type="radio"]:focus,
input[type="checkbox"]:focus {
    outline: thin dotted #333;
    outline: 5px auto -webkit-focus-ring-color;
    outline-offset: -2px;
}

// .form-control[disabled],
// .form-control[readonly],
// fieldset[disabled] .form-control {
//     cursor: not-allowed;
//     background-color: #eeeeee;
// }


.ff-control:focus {
    //border: 1px solid red;
    border-color: #66afe9;
    outline: 0;
    //-webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(102, 175, 233, 0.6);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(102, 175, 233, 0.6);
}

// .ff-control:valid {
//     border: 1px solid #ccc;
//     zborder: 20px solid black;
// }
.ff-control:invalid {
    //zborder: 2px dashed red;
    //border: 1px solid #bbb;
    border-left: 3px solid red;
    //zcontent: "dd";
}

.ff-control:invalid::after {
    content: '*';
}

//A readonly element is just not editable, but gets sent when the according form submits. A disabled element isn't editable and isn't sent on submit
.ff-control:disabled {
    border: 1px solid #ddd;
    //zborder: 2px solid black;
    background-color: #eee;
}

// input.ff-control {sd
//     //font-size: 12pt;
// }

//input,select,
input.ff-control:required {
    border-right: 1px solid blue;
}

textarea.ff-control:required {
    border-right: 2px solid blue;
}

// .ff-control:required::after {
//     content: '*';
// }

:optional:after {
    //position: absolute;
    //left: 100%;
    //content: 'optional';
}


input:in-range {
    //background-color: rgba(0, 255, 0, 0.25);
}

input:out-of-range {
    //background-color: rgba(255, 0, 0, 0.25);
    border: 2px solid red;
}

input:in-range+label::after {
    content: '';
}

input:out-of-range+label::after {
    content: 'out of range!';
}

input[readonly] {
    //border: 1px solid #ccc;
    background-color: #efefef;
}

// .btnzz:not(:disabled):not(.disabled) {
//     cursor: wait;
//     cursor: pointer;
// }

/* Option elements, when selected */

option:checked {
    box-shadow: 0 0 0 3px lime;
    color: darkorchid;
}


/* ============================================================== buttons/bootstrap ===*/

.btnx {
    //zcursor: pointer;
    font-size: 1.01em;
    padding: 0.375rem 0.75rem;
    border-radius: .25rem;
    display: inline-block;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    user-select: none;
    border: 1px solid transparent;
    line-height: 1.5;
}

// .btnx:disabled,
// .btnx:disabled:hover {
//     // zzcolor: gray;
//     // zzbackground-color: lightgray;
//     //opacity: .5;
// }

.btnx:not(:disabled):not(.disable) {
    cursor: pointer;
}

.btnx-info {
    color: #fff;
    background-color: #17a2b8;
    border-color: #17a2b8;
}

.btnx-disabled {
    color: #aaa;
    background-color: #17a2b8;
    border-color: #17a2b8;
    cursor: text;
    font-size: smaller;
}

.btnx-primary {
    //zmargin-right: 10px;
    color: #fff;
    //zcolor: lightyellow;
    //zbackground-color: #007bff;
    background-color: #005b8f;
    //zbackground-color: darkblue;
    border-color: #007bff;
}

.btnx-warning {
    color: #fff;
    background-color: lightsalmon;
    border-color: lightsalmon;
}

.btnx-danger {
    color: #fff;
    background-color: indianred;
    border-color: indianred;
}

.btnx-link {
    //zcolor: #007bff;
    color: darkblue;
    background-color: transparent;
    border-color: transparent;
    cursor: pointer;
}

.btnx-link:hover {
    background-color: lightcyan;
}


.btnx:hover {
    box-shadow: 2px 2px 2px grey;
    border-radius: 5px;
    border-width: 1px;
    border-color: yellow;
    color: lightyellow;
    transition-timing-function: ease-in-out;
    opacity: 1.0;
}


.input1::placeholder {
    color: #003BDE;
    font-weight: 700;
    opacity: 1;
    font-style: italic;
    text-align: center;
}