
.bodyDiv {
    display: flex;

}
html {
    background-color: black;
    zdisplay: none;
}
body {
    zbackground-color: black !important;
    display: none;
}
zz {
    background-color: black !important;
}